// Import from npm
@import 'normalize.css';

$background-color: #fff;

body {
  background: $background-color;

  section {
    height: 100vh;
    position: relative;
    width: 100vw;
  }
}


//searchFeature
.header{
  background-color: #282828;
  padding:10px;
  .searchFeature{
    text-align: center;
  input{
    border-radius: 5px;
    width: 35%;
  }
  }
}
// albumItem

.albumItem{
  padding-left: 30px;
  padding-right: 30px;
}
