// Import from npm
@import 'normalize.css';
@import 'home/searchFeature/style';
@import 'home/albumItem/style';

$background-color: #fff;

body {
  background: $background-color;

  section {
    height: 100vh;
    position: relative;
    width: 100vw;
  }
}
